{% extends "components/base.html" %}
{% load django_app_extras %}

{% block title %}Домашняя{% endblock title %}

{% block main %}

<h1 class="display-1">{{ name }}</h1>

<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Вакансии для HR</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <!-- относительная маршрутизация Django ловит маршруты по именам, вызывает если такого нет-->
          <a href="{% url '' %}" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Отправить своё резюме</a>
          <a href="/blank" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Отправить своё резюме</a>
          <button type="button" class="btn btn-outline-light btn-lg px-4">Secondary</button>
        </div>
      </div>
    </div>
</div>



    <hr class="m-2 p-2"/>

    <form action="{% url 'home' %}" enctype="multipart/form-data" method="POST" class="form-control form-control-lg container
border border-2 border-warning shadow
">
        {% csrf_token %}
        <input name="username" required type="text" placeholder="Имя пользователя" class="form-control form-control-lg mb-2"/>
        <input name="number" required type="text" placeholder="Номер" class="form-control form-control-lg mb-2"/>
        <textarea name="description" placeholder="Описание" class="form-control form-control-lg mb-2"></textarea>
        <input type="submit" class="btn btn-lg btn-outline-primary" value="Создать"/>
    </form>

    <hr class="m-2 p-2"/>
    <h2 class="display-4">Контакты:</h2>
<div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Имя пользователя</th>
          <th scope="col">Номер телефона</th>
          <th scope="col">удалить</th>
        </tr>
      </thead>
      <tbody>
      {% for c in contacts %}
        <tr>
          <td>{{ c.id }}</td>
          <td
{% if c.username == 'Главный модератор' %}
    class="text-danger"
{% else %}
    class="text-secondary"
{% endif %}
          >{{ c.username|capitalize_string }}</td>
          <td>{% text_slice c.number 12 %}</td>
            <td><a href="{% url 'contact_delete' c.id %}" class="btn btn-danger">удалить</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>


{% endblock main %}