aiohttp==3.8.4
aiosignal==1.3.1
astroid==2.15.6
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.12.2
black==23.7.0
blinker==1.6.2
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
dill==0.3.6
Flask==2.3.2
frozenlist==1.4.0
idna==3.4
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
lazy-object-proxy==1.9.0
MarkupSafe==2.1.3
mccabe==0.7.0
multidict==6.0.4
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.9.1
pylint==2.17.4
requests==2.31.0
soupsieve==2.5
tomlkit==0.11.8
urllib3==2.0.3
Werkzeug==2.3.6
wrapt==1.15.0
yarl==1.9.2
