<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat page</title>
    </head>
<body>

<h1>Chat page ({{request.user.username}})</h1>
<div>
    <ul>
        {% for room in rooms %}
            <li>
                <a href="{% url 'room' room.slug %}">{{room.name}}</a>
            </li>
        {% empty %}
            <li>ни одной комнаты не создано!</li>
        {% endfor %}
    </ul>
</div>

</body>
</html>
