{% extends 'components/base.html' %}
{% load django_app_filters_and_tags %}
{% load static %}

{% block main %}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">Детально о товаре:</h1>
</div>

<div class="row row-cols-1 row-cols-md-1 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
          <div class="d-flex">
            <h4 class="my-0 fw-normal w-75">{{ item.title }}<sup class="text-success">{{ v_bugs_count }}</sup><sup class="text-warning">{% t_bugs_count item.id %}</sup><sup class="text-danger">{{ item.m_bugs_count }}</sup></h4>

          <a href="{% url 'bug' item.id %}"><i class="fa-solid fa-bug text-danger" title="обратиться об ошибке"></i></a>

              <div class="p-3 d-flex shadow">
{% if is_my_rating == 1 %}
    <a href="{% url 'rating' item.id '1' %}"><i class="fa-solid fa-thumbs-up text-success m-1 p-3"></i></a>
{% else %}
    <a href="{% url 'rating' item.id '1' %}"><i class="fa-regular fa-thumbs-up text-success m-1 p-3"></i></a>
{% endif %}
{% if total_rating_value > 0 %}
    <div class="display-6 text-success m-1 p-1">{{ total_rating_value }}</div>
{% else %}
    {% if total_rating_value == 0 %}
        <div class="display-6 text-secondary m-1 p-1">{{ total_rating_value }}</div>
    {% else %}
        <div class="display-6 text-danger m-1 p-1">{{ total_rating_value }}</div>
    {% endif %}
{% endif %}
{% if is_my_rating == -1 %}
    <a href="{% url 'rating' item.id '-1' %}"><i class="fa-solid fa-thumbs-down text-danger m-1 p-3"></i></a>
{% else %}
    <a href="{% url 'rating' item.id '-1' %}"><i class="fa-regular fa-thumbs-down text-danger m-1 p-3"></i></a>
{% endif %}
</div>
</div>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{% digit_beautify item.price %} тг.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{ item.description }}</li>
            </ul>

            <div>
                {% if item.avatar %}
                <img src="{% static item.avatar.url %}"
                     alt="{{ item.title }}" width="500" class="img-fluid img-thumbnail"/>
                {% endif %}

            </div>
          <div>
                {% if item.file %}
                <a href="{% static item.file.url %}" type="button" class="w-50 btn btn-lg btn-outline-dark">скачать инструкцию</a>
                {% endif %}
          </div>

          </div>
        </div>
      </div>
</div>





<div class="">
{% if request.user.is_authenticated %}
    <form method="POST" action="{% url 'comment' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-flex w-100 input-group p-3">
            <input name="article" type="hidden" value="{{ item.id }}"/>
            <textarea name="text" class="form-control" rows="2"></textarea>
            <button class="btn btn-primary btn-lg w-25" type="submit">отправить комментарий</button>
        </div>
    </form>
    <hr/>
{% endif %}
<hr/>
{% include 'components/paginator.html' %}
<div class="p-2 shadow">
    <div class="container">
        <ul>
            {% for c in page_obj %}
                <li>{{ c.author.username }}: {{ c.author.first_name }} {{ c.author.last_name }}

                {% check_is_my_comment c.id as is_my_comment %}
                {% if is_my_comment %}
                    <a href="{% url 'comment_delete' c.id item.id %}"><i class="fa-solid fa-hammer text-danger"></i></a>
                {% endif %}

                <p>{{ c.text }}</p>
                <hr/>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% include 'components/paginator.html' %}
</div>


{% endblock main %}