{% extends 'components/base.html' %}
{% load static %}
{% load django_app_filters_and_tags %}

{% block main %}

<div class="container my-5">
    <form class="shadow p-3" method="POST" action="{% url 'search' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="w-75 input-group">
            <input name="search" type="text" minlength="1" value="{{ search }}" class="form-control form-control-lg" placeholder="поиск..." required=""/>
            <button class="btn btn-primary btn-lg w-25" type="submit">искать</button>
        </div>
    </form>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">Список товаров:</h1>
</div>

<div class="row row-cols-1 row-cols-md-5 mb-3 text-center">
    {% for item in items %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">

              {% if request.user.username == item.author.username %}
            <a href="{% url 'item_hide' item.id %}" type="button"
               class="fa-solid fa-trash text-decoration-none text-danger"></a>

            <a href="{% url 'update_item' item.id %}" type="button"
               class="fa-solid fa-screwdriver text-decoration-none text-warning"></a>
              {% endif %}

            <h4 class="my-0 fw-normal">{{ item.title }} <i class="fa-solid fa-comment">{{ item.comment_count }}</i> ({% item_rating item.id %})</h4>
          </div>

          <div class="card-body">
            <h1 class="card-title pricing-card-title">{% digit_beautify item.price %} тг.</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{ item.description|custom_cut:50 }}</li>
            </ul>
            <div>
                {% if item.avatar %}
                <img src="{% static item.avatar.url %}"
                     alt="{{ item.title }}" class="img-fluid img-thumbnail"/>
                {% endif %}

                {% if item.file %}
                <a href="{% static item.file.url %}" type="button" class="w-50 btn btn-lg btn-outline-dark">скачать инструкцию</a>
                {% endif %}
            </div>



            <a href="{% url 'item' item.id %}" type="button" class="w-100 btn btn-lg btn-outline-primary">Детали</a>
          </div>
        </div>
      </div>
    {% empty %}
    <div class="border border-1 border-danger">Ни одного товара не найдено!</div>
    {% endfor %}
</div>

{% endblock main %}