<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='my_css.css') }}">
</head>
<body>
<h1>Home Page</h1>
<div><a href="/pricing">цены</a></div>

<p id="text1" class="my_custom_color_blue">
  Я цветная надпись
</p>

<button onclick="Dubl()">изменить текст</button>

<button class="text-lime-400">
  Share on Twitter
</button>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
  Button
</button>

<button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded-full">
  Button
</button>

<script src="{{ url_for('static', filename='my_js.js') }}"></script>
</body>
</html>