{% extends "components/base.html" %}

{% block title %}Цены{% endblock title %}

{% block main %}

0. Jinja(2)
Шаблонизатор - позволяет выполнять логику внутри html(python).

1. Как взять переменную
{{ name }}
{{ count }}

2. Как взять сложную переменную
{{ questions.title.name }}

3. Как показать массив
{{ answers }}
<ul>
  {% for a in answers %}
    <li>{{ a }}<hr/></li>
  {% endfor %}
</ul>

4. Условие

{% if is_age %}
  Я совершеннолетний!
{% else %}
  Я маленький!
{% endif %}

<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Список товаров:</h2>
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      {% for d in new_data %}
      <div class="group relative">
      <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
          <img src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            {% if d.count <= 1 %}
              <h3 class="text-sm text-red-700">
            {% else %}
              <h3 class="text-sm text-gray-700">
            {% endif %}
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                {{ d.name }}
              </a>
            </h3>
            {% if d.count <= 1 %}
              <p class="mt-1 text-sm text-red-500">{{ d.count }} шт.</p>
            {% else %}
              <p class="mt-1 text-sm text-gray-500">{{ d.count }} шт.</p>
            {% endif %}
          </div>
          <p class="text-sm font-medium text-gray-900">{{ d.price }} тг.</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock main %}